@media (min-width: 300px) {
  .container {
    width: 95%;
  }
  .rps {
    width: 100%;
  }
  .hrps {
    width: 99%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
  .rps {
    width: 90%;
  }
  .hrps {
    width: 89%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .rps {
    width: 80%;
  }
  .hrps {
    width: 79%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 70%;
  }
  .rps {
    width: 70%;
  }
  .hrps {
    width: 69%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
  .rps {
    width: 60%;
  }
  .hrps {
    width: 59%;
  }
}
