:root {
  --mobile--: 100%;
}

.container_fluid {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("sky2.jpg");
}

.container {
  width: 100%;
  margin: 0 auto 50px auto;
  border-radius: 10px;
}

.header{
  width: 70%;
  margin: 0 auto 0 auto;
}

.header h1 {
  color: #fff;
  text-align: left;
}

.add_task {
  width: 70%;
  height: 40px;
  margin: 30px auto 30px auto;
  background-color: #25273c;
  border-radius: 3px;
}

.input_task {
  caret-color: aqua;
  width: 86%;
  height: 90%;
  background-color: #25273c;
  border-style: none;
  color: #fff;
}

.input_task:focus {
  outline: none;
}

.submit_task {
  width: 9%;
  height: 97%;
  background-color: #25273c;
  border-style: none;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}

.mousein {
  background-color: #494b64;
}

.btn_clicked {
  background-color: #fff;
  color: #000;
}

.task_tabs {
  margin: 0 auto 0 auto;
  width: 70%;
  height: 40px;
  background-color: #25273c;
  border-radius: 3px;
}

.hr {
  margin: 0 auto 0 auto;
  width: 70%;
  height: 1px;
  background-color: #444761;
}

.btn_tab {
  border-radius: 3px;
  width: 32%;
  height: 99%;
  background-color: #25273c;
  border-style: none;
  font-size: 20px;
  color: #6d6e7a;
}

.tab_text:hover {
  color: #fff;
}

.tasks {
  margin: 0 auto 0 auto;
  width: 70%;
  background-color: #25273c;
}

.tasks::-webkit-scrollbar {
  width: 0;
}

.task {
  display: flex;
  height: 40px;
  border-bottom: 0.5pt solid #444761;
}

.btn_checked {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #6d6e7a;
  margin: 5px 0 10px 30px;
}

.task_text {
  width: 70%;
  height: 40px;
  margin: 10px 0 10px 50px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  overflow-y: hidden;
}

.task_text::-webkit-scrollbar {
  width: 0;
}

.btn_remove {
  background-color: #25273c;
  height: 30px;
  margin: 0 20px 0 auto;
  font-size: 30px;
  border-style: none;
  color: #ffffff5b;
  font-weight: lighter;
}

.clear {
  margin: 0 auto 0 auto;
  width: 70%;
}
.btn_clear {
  font-size: 16px;
  width: auto;
  height: 40px;
  background-color: #25273c;
  border-style: none;
  color: #6d6e7a;
  font-weight: bold;
  border-radius: 2px;
  float: right;
}
.btn_clear:hover {
  color: #fff;
}
footer {
  height: 100px;
}

.checked {
  background-color: #85a3fa;
}
.checked_text {
  text-decoration: line-through;
  color: #717174;
}

.highlight {
  color: #3a7bfd;
}
